<%- include("parts/header") %>
<%- include("parts/nav") %>
<form class="container bg-light mt-5 p-5" action="">
  <h1>Welcome to <%= title %></h1>
  <button class="btn btn-primary"><a class="text-decoration-none " href="/signup">Sign Up</a></button>
  <button class="btn btn-primary"><a  class="text-decoration-none" href="/signin">Sign in</a></button>
</form>
<%- include("parts/footer") %>