<%- include("parts/header") %>
<%- include("parts/nav") %>
<form class="container bg-light mt-5 p-5" action="">
  <h1>Welcome to <%= title %></h1>
<a class="btn btn-primary text-decoration-none " href="/signup">Sign Up</a>
 <a  class="btn btn-primary text-decoration-none" href="/signin">Sign in</a>
</form>
<%- include("parts/footer") %>